<div class="container">
        <!-- Post container-->
        <div ng-repeat="post in posts | orderBy:sort.method | filter:search" class="row post well well-lg">
            <div class="col-md-2">
                <img ng-src="{{post.img}}" alt="{{post.title}}" width="140px" />
            </div>
            <!--start of post-->
            <div class="col-md-10">
              <div class="row title">
                  <h3>{{currentTime}}{{post.title}}
                      <span ng-click="upvotePost(post)" class="comment-link glyphicon glyphicon-plus-sign"></span>
                      <span ng-click="downvotePost(post)" class="comment-link glyphicon glyphicon-minus-sign"></span>
                      <span ng-class="{
                        negative: post.votes < 0,
                        positive: post.votes > 0,
                        zero: post.votes === 0}">{{post.votes}}</span>
                  </h3>
              </div>
                <div>
                    <div class="row author">
                        <p class="pull-left">By {{post.username}}</p>
                    </div>
                    <div class="row body">
                        <p>{{post.body}}</p>
                    </div>
                </div>
                <div class="row date-comments">
                      <p>{{post.date}}</p>
                </div>
                  <hr>
            <!--end of post-->


            <!-- Number of comments -->
            <div ng-app="ngAnimate">
                <div class="comment-link"><span class="glyphicon glyphicon-comment"></span>
                        <ng-pluralize count="post.comments.length"
                            when="{'0': '{} Comments',
                              'one': '{} Comment',
                                'other': '{} Comments'}">
                        </ng-pluralize>

            <!-- Toggle view comments -->
                    <input type="checkbox" ng-model="checked" aria-label="Toggle ngHide">
                        <br/>
                    <div class="check-element animate-show" ng-show="checked">
                          <div ng-repeat="comment in post.comments">
                                <div class="row body">
                                    <p>{{comment.description}}</p>
                                </div>
                                <div class="row author">
                                    <p class="pull-left">By {{comment.username}}</p>
                                </div>
                          </div>
                     </div>
                  </div>
              </div>
            <!-- end toggle comment show -->

            <hr>

            <!--comment toggle form-->
            <div>
              <button type="button" class="btn btn-default btn-sm" class="comment-link" ng-click="toggleCommentForm(post)">
                  <span class="glyphicon glyphicon-pencil"></span>Add Comment
              </button>
            </div>
            <div ng-show="post.commentFormVisible" class="row add-comment-form">
                    <form name="commentForm" class="form-inline" ng-submit="addComment(post, commentForm)" novalidate autocomplete="off">
                              <div class="form-group">
                                  <label for="commentAuthor">Author</label>
                                  <input required type="text" class="form-control" name="commentAuthor" ng-model="commentAuthor" placeholder="Author">
                              </div>
                              <div class="form-group">
                                  <label for="commentText">Text</label>
                                  <input required type="text" class="form-control" name="commentText" ng-model="commentText" placeholder="Enter some text">
                              </div>
                        <button type="submit" class="btn btn-default">Add Comment</button>
                    </form>
              </div>
              <div ng-show="post.newCommentsVisible" class="row comments">
                  <ul>
                    <li ng-repeat='comment in post.newComments'>
                      <span class="comment-author">{{newComment.author}}</span> - {{newComment.text}}
                    </li>
                  </ul>
              </div>
              <!--End-->


              <!--End of add new comments container-->
              </div>
          <!--end of content in post box-->
          </div>
      <!-- End of Post Containter-->
      </div>
